<a href="https://colab.research.google.com/github/lakshmivijay23/python_practices/blob/main/python_practices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Convert integer into decimals
---

In [1]:
import decimal

integer=5
print("Type of input:\n")
print(type(integer))
print("Type after conversion:\n")
print(decimal.Decimal(integer))
print(type(decimal.Decimal(integer)))

Type of input:

<class 'int'>
Type after conversion:

5
<class 'decimal.Decimal'>

In [2]:
# Ques:2

# reverse string

string="Lakshmi"
print(string[::-1])

imhskaL

In [3]:
vowel=['a', 'e', 'i', 'o', 'u']
string="programming"
count=0
for i in vowel:
  if i in string:
    count+=1
print(count)

3

In [4]:
count=0
for i in string:
  if "g" == i:
    count+=1
print(count)

2

In [5]:
n=5
for i in range(n):
  for j in range(i, 5):
    print(" ", end=" ")
  for j in range(2*i+1):
    print("*", end=" ")
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

### Counting the num of occurences of a character in a string

In [6]:
word ='programming'
character = 'm'
count=0
for i in word:
  if character == i:
    count+=1

print(count)

2

**Fibonacci**

In [7]:
fib=[0, 1]
count=0
for i in fib:
  if count<5:
    fib.append(fib[-1]+fib[-2])
    count+=1
  else:
    break

In [8]:
print(" ".join(str(i) for i in fib))

0 1 1 2 3 5 8

**Find maximum num in a list**

In [9]:
dummy=[5,8,2,9,1]
max=dummy[0]
for i in dummy:
  if i > max:
    max=i
  else:
    pass

In [10]:
max

9

**Find minimum num in a list**

In [11]:
dummy=[4,6,1,9,3]
min=dummy[0]
for i in dummy:
  if i< min:
    min=i

In [12]:
min

1

**Finding middle element in a list**

In [13]:
dummy=[4,7,2,1,8,3]
length=len(dummy)

if length%2==0:
  middle=dummy[length//2-1: length//2+1]
else:
  middle=dummy[length//2]

print(middle)


# if len(dummy)%2==0:
#   index1, index2= len(dummy)//2 -1, len(dummy)//2
#   middle_element1, middle_element2=dummy[index1], dummy[index2]
#   print(middle_element1, middle_element2)
# else:
#   index=len(dummy)//2
#   middle_element=dummy[index]
#   print(middle_element)

[2, 1]

**converting a list into a string**

In [14]:
result=" ".join(str(i) for i in [2,4,5,6,5])
result

'2 4 5 6 5'

In [15]:
result=" ".join(["2","4","5","6","5"])
result

'2 4 5 6 5'

**adding two list elements together**

In [16]:
list1=[2,4,5]
list2=[7,2,1]
sum_list=[]
# check if the len of two list is the same
check = True if len(list1)==len(list2) else False
if check:
  for i in range(len(list1)):
    sum_list.append(list1[i]+list2[i])

In [17]:
sum_list

[9, 6, 6]

In [18]:
#simplify this using a list comprehension and zip()

new_list=[i+j for i, j in zip(list1, list2)]
new_list

[9, 6, 6]

**comparing two strings for anagrams**

In [19]:
string1='care'
string2='race'

list1=sorted(string1.lower())
list2=sorted(string2.lower())

In [20]:
if list1==list2:
  print("Anagrams")
else:
  print("Not Anagrams")

Anagrams

**checking for palindrome using extended slicing technique**

In [21]:
str1='Kayak'.lower()
if str1==str1[::-1]:
  print(True)
else:
  print(False)

True

In [22]:
str1='Kayak'
str1= [i for i in str1.lower()]
flag=False
for i in range(len(str1)//2):
  if str1[i]==str1[-(i+1)]:
    flag=True
  else:
    flag=False
    break

if flag==True:
  print("Is palindrome")
else:
  print('Not a palindrome')

Is palindrome

**counting white spaces in a string**

In [23]:
string ="pro gra m"
count=0
for i in string:
  if i==" ":
    count+=1
  else:
    pass

print(count)

2

In [24]:
string.count(" ")

2

**counting digits, letters, and white spaces in a string**

In [25]:
import re

string="Hello Im 123"

alpha = len(re.sub('[^A-Za-z]', "", string))
digits = len(re.sub('[^0-9]', '', string))
spaces = len(re.findall(r'[ /s]', string))

print(alpha)
print(digits)
print(spaces)

7
3
2

**Counting special characters in a string**

In [26]:
pattern="!@#$%^&*()+_}{}:?><~`'"
count=0

string="Hi! my mail-id is lakshmi@gmail.com :)"

for i in string:
  if i in pattern:
    count+=1
print(count)

4

**Removing all whitespaces in a string**

In [27]:
string='C O D E'

"".join(string.split(" "))

'CODE'

In [28]:
string.replace(" ", "")

'CODE'

In [29]:
import re

spaces=re.compile(r'\s+')
result=re.sub(spaces, "", string)
result

'CODE'

**building pyramid**

In [30]:
n=5
for i in range(1, n+1):
  print(" "*(n-i), end="")
  print("* "*(i))

    *
   * *
  * * *
 * * * *
* * * * *

In [31]:
n=5
for i in range(1, n+1):
  print(" "*(n-i), end="")
  print("* "*(i))
for i in range(1, n+1):
  print(" "*(i), end="")
  print("* "*(n-i))

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

**randomizing items of a list in python**

In [32]:
 from random import shuffle
 lst=["python", "is", 'a', 'programming', 'language']
 shuffle(lst)

 print(lst)

['python', 'a', 'language', 'programming', 'is']

**check prime**

In [33]:
import math

num = 29
if num > 1:
    for i in range(2, int(math.sqrt(num)) + 1):
        if num % i == 0:
            print(f"{num} is not a prime number")
            break
    else:
        print(f"{num} is a prime number")
else:
    print(f"{num} is not a prime number")

29 is a prime number

**variable length argument**

In [34]:
def avgr(**kwargs):
  lists= list(kwargs.values())
  return sum(lists)/len(lists)

res=avgr(num1=5, num2=2, num3=8)
res

5.0